html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 12%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fafafa;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
